<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="BlobConnectionString" value ="DefaultEndpointsProtocol=https;AccountName=recommendationscache;AccountKey=I485aZN43XcnQ93GnUneVGcxETGlJJSTr0q3N7YA+8W36z4GIsfLYZVN37K26Hui7lUSa6s8PtujZOUdqhDz3Q=="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>